html { 
    background: url("/images/space_background_pack/layers/parallax-space-backgound.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

#title {
    margin: auto;
    text-align: center;
    color: lime;
}

#container {
    border: solid blue;
    border-radius: 5px;
    margin: 2% 10% 2% 10%;
    height: 600px;
    max-height: 500px;
    background-color: lightgray;
    opacity: 0.5;
}